/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap"); */

:root {
  --bg_dark: #1E1E20;
  --bg_purple: #b828e4;
  --txt_blue: #2889e4;
  --txt_white: #ffffff;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

body {
  display: flex;
  background: var(--bg_dark);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border-radius: 25px;
  animation: changeShadow 20s infinite linear;
}

.container img{
  width: 5em;
  height: 5em;
  animation: rotation 5s infinite linear;
  -webkit-animation: rotation 5s infinite linear;
}

.container h1{
  color: var(--txt_blue);
  font-size: 5vh;
}

.container p{
  color: var(--txt_white);
  margin: 2vh 0;
  font-size: medium;
}

.container button{
  padding: 1em;
  background-color: #000;
  color: var(--txt_white);
  border: 0;
  border-radius: 1em;
  cursor: pointer;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(359deg);
  }
}

@keyframes changeShadow {
  0%{
    box-shadow: 0 0 0.75rem var(--txt_white);
  }25%{
    box-shadow: 0 0 0.75rem var(--bg_purple);
  }50%{
    box-shadow: 0 0 0.75rem var(--txt_white);
  }75%{
    box-shadow: 0 0 0.75rem var(--txt_blue);
  }100%{
    box-shadow: 0 0 0.75rem var(--txt_white);
  }
}
@-webkit-keyframes changeShadow {
  0%{
    box-shadow: 0 0 0.75rem var(--txt_white);
    -webkit-box-shadow: 0 0 0.75rem var(--txt_white);
  }25%{
    box-shadow: 0 0 0.75rem var(--bg_purple);
    -webkit-box-shadow: 0 0 0.75rem var(--bg_purple);
  }50%{
    box-shadow: 0 0 0.75rem var(--txt_white);
    -webkit-box-shadow: 0 0 0.75rem var(--txt_white);
  }75%{
    box-shadow: 0 0 0.75rem var(--bg_purple);
    -webkit-box-shadow: 0 0 0.75rem var(--txt_blue);
  }100%{
    box-shadow: 0 0 0.75rem var(--txt_white);
    -webkit-box-shadow: 0 0 0.75rem var(--txt_white);
  }
}