* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(4, 65, 56);
    font-family: Montserrat;
}

.logo{
    color: rgb(255, 255, 255);
}

.logo img{
    width: 50px;
    height: 50px;
    padding: 10px 10px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    font-size: 15px;
}

.nav-links a:hover {
    color: rgb(67, 204, 96);
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 3px;
}

div.burger:hover {
    color: rgb(216, 211, 211);
} 

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
         right: 0px;
         height: 92vh;
         top: 0vh;
         background-color: rgb(16, 68, 14);
         flex-direction: column;
         align-items: center;
         width: 50%;
         transform: translateX(100%);
         transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

.main-1{
    background-color: rgb(38, 153, 73);
    height: 640px;
}

.main-1 h2{
    font-family: 'Montserrat';
    font-size: 2.1875em;
    text-align: center;
    color: rgba(255, 255, 255, 0.918);
    margin: auto;
    padding: 150px 50px 25px 50px;
}

.main-1 p{
    font-size: 20px;
    font-family: 'Montserrat';
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
}

.main-1 a{
    display: flexbox;
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.918);
    margin: auto;
}

.main-2 {
    background-color: rgb(22, 78, 39);
    height: 500px; 
    font-family: 'Montserrat';
}


.main-2 h2{
    display: flexbox;
    font-size: 30px;
    text-align: right;
    padding-top: 150px;
    padding-right: 75px;
    color: rgb(231, 229, 229);
    margin: auto;
}

.main-2 p{
    font-size: 25px;
    text-align: right;
    color: rgb(248, 248, 248);
    padding-top: 20px;
    padding-right: 75px;
    margin: auto;
}

.main-3{
    background-color: rgb(177, 79, 10);
    height: 500px;
    font-family: 'Montserrat';
}

.main-3 img{
    float: right;
}

.main-3 h2{
    display: flexbox;
    font-size: 30px;
    text-align: left;
    padding-top: 150px;
    padding-left: 75px;
    color: rgb(231, 229, 229);
    margin: auto;
}

.main-3 p{
    font-size: 25px;
    text-align: left;
    color: rgb(248, 248, 248);
    padding-top: 20px;
    padding-left: 75px;
    margin: auto;
}

.footer{
    background-color: rgb(0, 0, 0);
    height: 200px;
    padding: 20px;
}

