@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-main: "Inter", sans-serif; 
  --font-code: "Jetbrains Mono", monospace;
  --color-btn-brown: #b96c4e;
  --color-text-brown: #FEF3C6;
}

.active{
    text-decoration: underline 2px #36e1e1;
    /* padding: .5rem;
    background-color: rgba(0, 255, 255, 0.573); */
}